/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --primary-text-color: #333;
    --button-background: #f2f2f2;
    --button-color: #333;
    --button-border-radius: 5px;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px; /* Prevents content from sticking to the viewport edges */
}

.card {
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: #fff; /* A clean white background */
    width: 100%; /* Makes the card expand horizontally */
    max-width: 400px; /* Optimal width for mobile screens */
    box-sizing: border-box;
}

.profile-img img {
    max-width: 150px; /* Optimized size for mobile */
    border-radius: 50%;
}

.info h1 {
    font-size: 1.5em; /* Larger, more readable text */
    color: var(--primary-text-color);
    margin: 10px 0;
}

.info .title, .info .location {
    color: var(--primary-text-color);
    margin: 5px 0;
}

.contact-buttons {
    margin-top: 20px;
}

.button {
    display: inline-block; /* Align with other buttons */
    padding: 12px 20px; /* Larger touch area */
    text-decoration: none; /* Remove underline */
    color: var(--button-color); /* Text color */
    background-color: var(--button-background);
    border-radius: var(--button-border-radius);
    margin: 0 5px 10px; /* Spacing between buttons */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

.button span {
    pointer-events: none; /* Avoid issues with icon clicks */
}

.button:hover, .button:active {
    background-color: #e6e6e6; /* Slightly darker background on press/hover */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); /* Slightly larger shadow on press/hover */
}

/* For the download button */
.download-contact {
    font-weight: bold; /* Make text bold to differentiate */
}
