/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --primary-text-color: #333;
    --button-background: #f2f2f22b;
    --button-color: #333;
    --button-border-radius: 5px;
}

body {
  margin: 0;
  padding: 0; /* No padding to take full viewport */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #f5f5f5; /* light grey background for slight contrast */
  display: flex;
  justify-content: flex-start; /* align to the top */
  align-items: stretch; /* stretch to full height */
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide scrollbars */
}
.card {
    background: var(--primary-background);
    border-radius: 0; /* No rounded corners */
    box-shadow: none; /* No shadow since it fills the screen */
    padding: 20px;
    width: 100%; /* take up 100% of the viewport width */
    height: 100vh; /* height is 100% of the viewport height */
    display: flex; /* using flexbox for inner elements */
    flex-direction: column; /* stacking content vertically */
    justify-content: center; /* center content vertically */
    align-items: center; /* center content horizontally */
    overflow: auto; /* Enable scroll if content overflows */
}

.profile-img img {
    max-width: 150px; /* Optimized size for mobile */
    border-radius: 50%;
}

.info h1 {
    font-size: 1.5em; /* Larger, more readable text */
    color: var(--primary-text-color);
    margin: 10px 0;
}

.info .title, .info .location {
    color: var(--primary-text-color);
    margin: 5px 0;
}

.contact-buttons {
    margin-top: 20px;
}

.button {
    display: inline-block; /* Align with other buttons */
    padding: 12px 20px; /* Larger touch area */
    text-decoration: none; /* Remove underline */
    color: var(--button-color); /* Text color */
    background-color: var(--button-background);
    border-radius: var(--button-border-radius);
    margin: 0 5px 10px; /* Spacing between buttons */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

.button span {
    pointer-events: none; /* Avoid issues with icon clicks */
}

.button:hover, .button:active {
    background-color: #e6e6e6; /* Slightly darker background on press/hover */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); /* Slightly larger shadow on press/hover */
}

/* For the download button */
.download-contact {
    font-weight: bold; /* Make text bold to differentiate */
}
